@import url('https://fonts.googleapis.com/css2?family=Protest+Strike&display=swap');

:root {
    --font: 'Protest Strike', sans-serif;
    --bg-color: #40A2E3;
    --primary-color: #FFF7F1;
    --secondary-color: #0D9276;
    --tertiary-color: #D04848;
}

body {
    background-color: var(--bg-color);
    color: var(--primary-color);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0;
    font-family: var(--font);
}

h1 {
    font-size: 7rem;
}

h2 {
    font-size: 5rem;
}

h3 {
    font-size: 3rem;
    margin-top: 20px;
}

.mensagem {
    font-size: 2rem;
    margin-top: 40px;
}

.vida {
    font-size: 2rem;
    margin-bottom: 70px;
}

.box {
    border: 4px solid var(--primary-color);
    display: inline-block;
    font-size: 6rem;
    padding: 10px;
    margin: 20px;
}

.btn-jogar-novamente {
    padding: 15px 80px;
    border: 0;
    background-color: var(--primary-color);
    border-radius: 5px;
    margin-top: 50px;
    font-family: var(--font);
    font-size: 1.5rem;
    color: black;
}

.botao-comeco {
    padding: 15px 30px;
    border: 0;
    background-color: var(--primary-color);
    border-radius: 5px;
    margin-top: 50px;
    font-family: var(--font);
    font-size: 5rem;
    color: var(--bg-color);
}

body.vitoria {
    background-color: var(--secondary-color);
}

body.derrota {
    background-color: var(--tertiary-color);
}